html,
body {
    height: 100vh;
}

body {
    font-family: sans-serif;
}

#mass-tester {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#meta {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
}

#meta p {
    height: 50vh;
    position: relative;
    overflow: hidden;
    font-size: 10rem;
    text-align: center;
    font-weight: 800;
}

#meta p:first-child { line-height: 70vh; }
#meta p:last-child { line-height: 30vh; }
