html,
body {
    height: 100vh;
}

body {
    font-family: sans-serif;
}

#mass-tester {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#meta {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
}

#meta p {
    font-size: 10rem;
    line-height: 50vh;
    text-align: center;
    font-weight: 800;
}
