*,
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    font-family: sans-serif;
    background: #222;
    background: radial-gradient(ellipse at center, #444 0%, #222 100%);
}

#mass-tester {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

form {
    width: 80vw;
    height: 10vh;
    position: absolute;
    top: 45vh;
    left: 10vw;
}

form input {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, .05);
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, .25);
}

form input:focus {
    background: rgba(255, 255, 255, .1);
    border-bottom-color: #fff;
    outline: none;
}
