@-webkit-keyframes flash {
    from { background: #5ca625; }
    to { background: transparent; }
}

@keyframes flash {
    from { background: #5ca625; }
    to { background: transparent; }
}

*,
:before,
:after { box-sizing: border-box; }

html,
body { height: 100vh; }

body {
    font-family: sans-serif;
    background: #222;
    background: radial-gradient(ellipse at center, #333 0%, #222 100%);
}

body.flash #mass-tester {
    -webkit-animation: flash 1s ease-in-out 0 1;
    animation: flash 1s ease-in-out 0 1;
}

#mass-tester {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#meta {
    width: 80vw;
    height: 30vh;
    position: absolute;
    top: 35vh;
    left: 10vh;
}

#meta p {
    height: 15vh;
    position: relative;
    overflow: hidden;
    font-size: 3rem;
    line-height: 15vh;
    text-align: center;
    font-weight: 800;
    color: rgba(255, 255, 255, .1);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

#meta p:first-child { line-height: 70vh; }
#meta p:last-child { line-height: 30vh; }
